.MainPage {
  text-align: center;
}

.MainPage-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.MainPageContainer {
  width: 50%;
  min-width: 200px;
  margin: auto;
  padding-bottom: 10px;
}

.MainPagePanel {
  height: 30px;
  padding-top: 8px;
  display: flex;
  justify-content: space-between;
}

.AddPokemonButton {
  display: inline-flex;
}

.PreviousPageButton {
  float: left;
}

.NextPageButton {
  float: right;
}
